table, th, td {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
  }
  tr:hover {background-color:#f5f5f5;}
  
  div{
    padding: 2%;
  }

  button {
    padding: 1%;
    border-radius: 7%;
    height: 50px;

  }
  button:hover {
    background-color: cyan;
    padding: 1%;
    border-radius: 7%;
  }
  table {
  margin-top: 25px;
  }



  th{
    padding: 15px;
  }
  

  #textboxie::after{
    width: 250px;
    height: 50px;
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-color: black;

  }

  #textboxie:hover{
    width: 250px;
    height: 50px;
    margin-left: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border-color: lightblue;
  }