<button class="btn btn-primary" id="buttonWidth" routerLink="/one">One</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/two">Two</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/three">Three</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/four">Four</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/five">Five</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/six">Six</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/seven">Seven</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/eight">Eight</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/nine">Nine</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/ten">Ten</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/eleven">Eleven</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/twelve">Twelve</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/thirteen">Thirteen</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/fourteen">Fourteen</button>
<button class="btn btn-primary" id="buttonWidth" routerLink="/fifteen">Fiftenn</button>